---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
    title="about me"
    description="a little bit about who I am"
    pubDate={new Date("29 Jun 2024")}
    isAbout
>
    <p>found me! yeah I still need to write this :troll:</p>

    <p>Morbi tristique senectus et netus. Id sempe- wait. "morbi"</p>
</Layout>
