/* MAIN STYLINGS */

:root {
  --link-dark: #00b7c3;
  --bg-dark: #021417;
  --text-dark: #ffffff;
  --button-dark: #045564;
  --tooltip-dark: #5c5c5c55;
  --banner-dark: #077d92;
}

* {
  background-color: var(--bg-dark);
  color: var(--text-dark);
  font-family: "Open Sans", "Noto Sans", "Segoe UI", "Ubuntu", -apple-system,
    BlinkMacSystemFont, sans-serif;
}

code {
  font-family: "JetBrains Mono", monospace;
}

a,
a * {
  color: var(--link-dark);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.header,
.intro {
  text-align: center;
}

.header {
  padding: 2em;
}

.headerlisting {
  font-weight: bold;
  font-size: 125%;
}

.container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 1em;
}

.intro {
  max-width: 50em;
}

.legacyintro {
  padding-inline: 20px;
}

button {
  padding: 10px;
  font-size: 90%;
  border: none;
  background-color: var(--button-dark);
  border-radius: 5px;
  cursor: pointer;
}

/* SITE ICONS */

/* original code from https://devkats.club */

.icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  mask-size: 90%;
  -webkit-mask-size: 90%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: 50%;
  -webkit-mask-position: 50%;
  background-color: var(--text-dark);
  margin: 6px;
}

/* PROJECTS PAGE */

.projbox {
  display: flex;
  margin-block: 1em;
}

.projinfo {
  display: block;
  flex-grow: 1;
  padding-right: 10px;
}

.projimg {
  align-self: center;
}

/* BANNERS */

.banner {
  background-color: var(--banner-dark);
  padding: 10px;
  border-radius: 5px;
}

/* Make sure links/non-button elements don't have their own backgrounds/use the text colour */

.banner a,
b {
  background: none;
  color: inherit;
}

/* TOOLTIPS */

/* The following tooltip code is a modified version of the W3Schools example */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 85%;
  width: 100px;
  bottom: 115%;
  left: 50%;
  margin-left: -50px;
  background-color: var(--tooltip-dark);
  text-align: center;
  padding: 3px 0;
  border-radius: 5px;
  position: absolute;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
